<div class="row-fluid">
	<div style="width: 100%;">
		<div class="section_content">
			<div style="padding-top: 10px; margin-left: 20px;">
				<h5><%= "¿Qué es Antioquia Preventiva?" %></h5>
				<p>
					Antioquia Preventiva es un sistema de información, que propone cubrir de manera eficiente las situaciones de emergencias de orden público dentro del departamento de Antioquia. Desde el registro de la emergencia por parte de un usuario cualquiera, hasta su seguimiento en las diferentes etapas o estados de la emergencia, son algunas de las alternativas que brinda el aplicativo. Además, ofrece un conjunto de reportes que permiten monitorear de manera correcta gracias a unos filtros establecidos todas las emergencias presentadas en el departamento. Con este sistema el departamento obtendrá como beneficio, un sistema automatizado de reacción rápida frente a todo tipo de emergencia, tener una base de datos de conocimientos sobre pasados eventos y finalmente la posibilidad de hacer estudios mucho más profundos acerca de la situación de orden público en los diferentes barrios de todos los municipios del departamento.
				</p>
				<br>
				<h5><%= "Beneficios" %></h5>
				<p>
				• Automatización de los informes de emergencias.<br>
				• Agilización del proceso de atención de emergencias.<br>
				• Gestión de la información perteneciente a las situaciones de emergencia.<br>
				• Seguimiento por parte del denunciante en completo anonimato.<br>
				• Monitoreo continuo de las emergencias y reportes acerca de la situación de orden público dado un parámetro específico.<br>

				</p>
				
				<br>
				<br>
				<div class="float_left" style="padding-right: 40px;">
					<%= image_tag 'logo.png', :class => 'logo', :size => "100x100"%>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>